<div class="editingTools">
  <ul class="controlList">
    <li class="control">
      <button type="button" title="undo" (click)="_onUndo()">
        <i class="undo" ></i>
      </button>
    </li>
    <li class="control line">
      <button type="button" title="redo" (click)="_onRedo()">
        <i class="redo" ></i>
      </button>
    </li>

    <li class="control">
      <button type="button" title="reset zoom" (click)="_onZoomReset()">
        <i class="zoom" ></i>
      </button>
    </li>
    <li class="control">
      <button type="button" title="zoom in" (click)="_onZoomIn()">
        <i class="zoomIn" ></i>
      </button>
    </li>
    <li class="control line">
      <button type="button" title="zoom out" (click)="_onZoomOut()">
        <i class="zoomOut" ></i>
      </button>
    </li>

    <li class="control">
      <button type="button" title="save" (click)="_onSave()">
        <i class="save" ></i>
      </button>
    </li>
    <li class="control">
      <button type="button" title="download bpmn diagram" (click)="_onDownloadXml()">
        <i class="download" ></i>
      </button>
    </li>
    <li class="control">
      <button type="button" title="download as svg image" (click)="_onDownloadSvg()">
        <i class="image" ></i>
      </button>
    </li>
  </ul>
</div>
